[submodule "custom-iterm-applescripts-for-alfred"]
	path = custom-iterm-applescripts-for-alfred
	url = https://github.com/stuartcryan/custom-iterm-applescripts-for-alfred
[submodule "solarized-emacs"]
	path = solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "emacs.g"]
	path = emacs.g
	url = https://github.com/emacscollective/emacs.g.git
[submodule "emacs.d/emacs.g"]
	path = emacs.d/emacs.g
	url = https://github.com/emacscollective/emacs.g.git
